{% extends "layout.html" %}

{% block title %} - Downloader{% endblock %}

{% block content %}
    <div class="flex h-screen justify-center flex-col items-center">
        <a href="/" class="w-8 h-8 bg-zinc-700 flex items-center justify-center my-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
        </a>
        <div id="browse-menu" class="p-4 border-2 flex flex-col items-center justify-center gap-1 border-dashed border-zinc-700 rounded-md">
            <h1 class="text-3xl">Mediah Downloader</h1>
            <div class="flex items-center mt-2">
                <p id="browseText" class="px-2">Drag and drop JSON file or</p>
                <label id="browseButton"
                    class="border-none w-fit outline-none flex items-center rounded-full bg-zinc-700 text-white text-base py-2 px-4 h-11 cursor-pointer hover:bg-zinc-600 transition-all"
                    for="browse">Browse</label>
            </div>
            <input type="file" class="hidden" id="browse" name="file" accept=".json">
            <input type="text" id="file_name" hidden name="file_name">
        </div>
        <div id="file-menu" class="p-4 border-2 flex flex-col items-center justify-center gap-1 border-dashed border-zinc-700 rounded-md hidden">
            <h1 class="text-3xl mb-2">Mediah Downloader</h1>
            <div class="w-[100%] flex justify-start items-center">
                <div class="flex flex-col items-center">
                    <div id="fileImage"></div>
                    <p id="fileName" class="max-w-32 whitespace-normal break-all text-center"></p>
                </div>
                <div class="bg-zinc-500 rounded-full my-1 overflow-hidden w-[250px]" id="progress-container" hidden>
                    <p id="progress-text" class="px-1 absolute self-center w-[250px] text-center"></p>
                    <div class="bg-green-500 rounded-l-full flex flex-col items-end transition-all h-[25px] w-[0px]" id="progress"></div>
                </div>
                <div id="download-buttons" class="w-[250px] justify-center flex items-center">
                    <button id="download" onclick="download();" class="border-none w-fit outline-none rounded-full bg-zinc-700 text-white text-base py-2 px-4 h-11 cursor-pointer hover:bg-zinc-600 transition-all ml-4">Download</button>
                    <button id="clear" onclick="unhideBrowse();" class="border-none outline-none rounded-full bg-red-700 text-white text-base w-11 flex items-center justify-center h-11 cursor-pointer hover:bg-red-600 transition-all ml-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='file_download.js' )}}" defer></script>
{% endblock %}